@page
@model GestionFinca.App.Frontend.Pages.FincaModel
@{
}

<p>Cuando la finca ya esta registrada y es seleccionada se muestra la información básica de la finca el croquis. Se da la opción de seleccionar Lote, inventario o transacciones</p>
