@page
@model GestionFinca.App.Frontend.Pages.HomeModel
@{
}
 <font size ="6" color ="#008080" face ="Cambria">
 <center> <h1> Gestion Finca </h1>  </center>
 </font>
 <table>

    <tr>
        <center><button type="button" class="btn btn-primary">Registrarse</button></center>
    </tr>

   <br>

    <tr>
        <center><button type="button" class="btn btn-primary">Iniciar Sesión</button></center>
    </tr>

    <br>
    
<tr>
    <td>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Qué hacemos...</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.    </p>
        </div>
    </div>
    </td>

    <td>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </td>

    <td>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </td>
    
    <td>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Participa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </td>
</tr>
</table>

