@page
@model GestionFinca.App.Frontend.Pages.RegistroModel
@{
}
<p>Para registrar usuario</p>

 <font size ="6" color ="#008080" face ="Cambria">
 <center> <h1> Regístrate </h1>  </center>
 </font>

<table>
    <tr>
        <center><input type="text" placeholder="Nombre"></center>
    </tr>

        <br>

    <tr>
        <center><input type="text" placeholder="Apellido"></center>
    </tr>

        <br>

    <tr>
        <center><input type="text" placeholder="Correo electrónico"></center>
    </tr>

        <br>

    <tr>
        <center><input type="text" placeholder="Contraseña"></center>
    </tr>

        <br>

    <tr>
        <center><button type="button" class="btn btn-primary">Registrarse</button></center>
    </tr>

</table>