@page
@model GestionFinca.App.Frontend.Pages.RegistrarFincaModel
@{
}

<p>Se piden datos de la finca (nombre, ubicación, lotes, cantidad de productos sembrados) para poder hacer el registro de esta</p>
